/*
 * Colors
 */
:root {
    /* UC Davis Blue */
    --ucd-blue-100: #002855;
    --ucd-blue-90: #1A3E68;
    --ucd-blue-80: #335379;
    --ucd-blue-70: #4D688C;
    --ucd-blue-60: #667D9D;
    --ucd-blue-50: #7F93AE;
    --ucd-blue-40: #99A9BF;
    --ucd-blue-30: #B2BDCF;
    --ucd-blue-20: #CCD4E0;
    --ucd-blue-10: #E5E9EF;
    /* UC Davis Gold */
    --ucd-gold-100: #DAAA00;
    --ucd-gold-90: #DEB31A;
    --ucd-gold-80: #E1BB33;
    --ucd-gold-70: #E5C44D;
    --ucd-gold-60: #E9CC66;
    --ucd-gold-50: #ECD47F;
    --ucd-gold-40: #F0DD99;
    --ucd-gold-30: #F4E5B2;
    --ucd-gold-20: #F8EECC;
    --ucd-gold-10: #FBF6E5;
    /* UC Davis Black */
    --ucd-black-100: #000000;
    --ucd-black-80: #333333;
    --ucd-black-70: #4C4C4C;
    --ucd-black-60: #666666;
    --ucd-black-50: #808080;
    --ucd-black-40: #999999;
    --ucd-black-30: #B2B2B2;
    --ucd-black-20: #CCCCCC;
    --ucd-black-10: #E5E5E5;
}

body {
    color: black;
    background-color: var(--ucd-blue-10);
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }
    a {
        color: var(--ucd-blue-100);
        text-decoration: underline;
    }
    a:hover, a:focus {
        color: var(--ucd-gold-100);
    }
}

@include media-breakpoint-up(md) {
    .navbar {
        //line-height: 3;
    }
}

.navbar {
    background-color: white;
    a, .nav-link, button {
        color: var(--ucd-blue-100);
        text-transform: uppercase;
    }
}

.nav-item.active, .nav-item:hover {
    background-color: var(--ucd-gold-100);
    transition: all 0.3s linear;
}

.nav-link{
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.jumbotron {
    background:
    url('../#{$jumbotron-mask}') repeat,
    url('../#{$jumbotron-image}') center/$jumbotron-image-size $jumbotron-color;
    color: var(--ucd-blue-100);
    text-shadow: 5px 5px 10px var(--ucd-blue-100);

    a {
        color: #fcfcfc;
        border-bottom: 1px dotted;
        text-decoration: none;
        transition: all 0.3s linear;
    }
    a:hover, a:focus {
        border-bottom: none;
        text-decoration: none;
    }

}

.jumbotron header h1 {
    font-family: $font-family-sans-serif;
    font-size: 4em;
}

.content {
    margin-top: 1em;
    line-height: 2;
}

.content img {
    max-width: 100%;
}

blockquote {
    padding: 1.2em;
    margin: 0;
    border: 0;
    background: #DFF7F4;
    font-style: normal;
    font-size: inherit;
    border-left: 7px solid $p2pu-light-blue;
}

pre {
    border-left: 7px solid $gray-light;
    padding: 1em;
    background-color: $gray-lighter;
    line-height: 1.2;
}

code {
    background-color: $gray-lighter;
}

section {
    margin: 3em 0;
    font-size: large;
    line-height: 1.8;
}

.sidebar {
    background-color: var(--ucd-gold-10);
    font-size: 15px;
    padding-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding-right: 1em;
    position: relative;
    @include transition(color, 0.3s, linear);
}

.sidebar li:hover {
    background-color: var(--ucd-gold-100);

    a:hover, a:focus {
        text-decoration: none;
        color: $white;
    }
    .pagination-section {
        margin: 1em 0;
    }
}

.sidebar li.active {
    background-color: $white;
}

.sidebar li.active a:hover {
    color: var(--ucd-blue-100);
}

.sidebar li a {
    display: block;
    padding: 0.8em 0.5em;
    text-transform: uppercase;
    @include transition(color, 0.3s, linear);
}

.pagination-section .title {
    color: $gray;
    line-height: 2;
}

.pagination-section {
    .next, .prev {
        text-transform: uppercase;
    }
}

.pagination-section .next:after {
    content: "\f0da";
    font-family: FontAwesome;
}

.pagination-section .prev:before {
    content: "\f0d9";
    font-family: FontAwesome;
}


@include media-breakpoint-up(md) {
    .sidebar {
        padding: 60px 0;
    }

    .sidebar li {
        padding-left: 60px;
    }

    .sidebar li:before {
        content: "";
        border-left: 3px solid #aab0bf;
        position: absolute;
        left: 40px;
        height: 100%;
        top: 0;
    }

    .sidebar li.first:before {
        height: 50%;
        top: 50%;
    }

    .sidebar li.last:before {
        height: 50%;
        top: 0;
    }

    .sidebar li.first.last:before {
        height: 0;
        top: 0;
    }

    .sidebar li a {
        padding: 1.2em 0;
    }

    .sidebar li a:before {
        content: "\f005";
        font-family: FontAwesome;
        color: var(--ucd-blue-100);
        position: absolute;
        left: 29px;
        line-height: 1.7;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 3px solid $gray;
        top: 18px;
        background-color: white;
        text-align: center;
        font-size: 0.8em;
    }

    .sidebar li.active a:before {
        content: "\f04b";
    }

    .sidebar li a:after {
        content: "";
    }

    .sidebar .pagination-section {
        padding-left: 60px;
    }

}

footer {
    padding: 2em 0;
    background-color: var(--ucd-blue-100);
    color: $white;
    text-align: center;
    font-size: 12pt;
    a {
        color: #FCFCFC;
        border-bottom: 1px dotted;
        text-decoration: none;
        transition: all 0.3s linear;
    }
    a:hover {
        border: none;
        color: #FCFCFC;
        text-decoration: none;
        transition: all 0.3s linear;
    }
}
