<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

    {% include head.html %}

    <body {% if page.itemtype %}itemscope itemtype="{{ page.itemtype }}"{% endif %}
                                          class="d-flex flex-column min-vh-100">

        {% include navigation.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>
